.active {
  background-color: rgb(238, 224, 188);
  color: black;
}

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

img {
  display: block;
  float: left;
  height: 400px;

}

p {
  font-family: source-han-serif-tc, serif;
  font-weight: 500;
  font-style: normal;
}

.menu {
  font-family: source-han-serif-tc, serif;
  filter: blur(0);
  font-weight: 500;
  font-style: normal;
  list-style-type: none;
  position: absolute;
  text-align: center;
  display: none;
  color: rgba(255, 255, 255, 0);
  z-index: 1;
  transition: linear 1s;
  top: 40%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.slogan:hover .menu {
  display: block;
  color: white;
  filter: blur(0);
  transition: linear 1s;
}

.menu li {
  margin: 1%;
  animation-delay: 0.3s;
}

li a {
  color: #fff;
  text-decoration: none;
}

li a:active {
  color: #fff;
  text-decoration: none;
}

.marquee-top, .marquee-bottom  {
  position: absolute;
  width: 99%;
  margin: 0 auto;
  overflow: hidden;
  white-space: nowrap;
}

.marquee-top {
  top: 0;
}

.marquee-bottom {
  bottom: 0;
}

.marquee-top span,.marquee-bottom span {
  display: inline-block;
  font-size: 10em;
  position: relative;
  will-change: transform;
  animation: marquee 2s linear infinite;
}

.marquee-bottom span {
  font-size: 9em;
  animation: marquee 4s linear infinite;
}


.marquee-top:hover span,.marquee-bottom:hover span {
  animation-play-state: paused;
}

@keyframes marquee {
  0% { transform: translate(0, 0); }
  100% { transform: translate(-100%, 0); }
}


.flying {
	position: fixed;
	bottom: 30px;
	right: 30px;
	display: flex;
	align-items: center;
}

#mode-toggler {
	font-size: 22px;
	padding: 15px 30px;
	border-radius: 50px;
	letter-spacing: .5px;
	font-weight: 700;
	min-width: 200px;
	border: 0;
}

#mode-remover {
	padding: 8px;
	width: 34px;
	margin-right: 10px;
	border-radius: 50%;
	font-size: 18px;
	font-weight: 700;
	border: 0;
	transition: opacity .15s ease, visibility .15s ease;
}

#mode-remover.hidden {
	opacity: 0;
	visibility: hidden;
}

.btn {
	display: inline-block;
	cursor: pointer;
	padding: 8px 16px;
	border: 2px solid #3bc4fb;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 700;
	line-height: 1;
	color: inherit;
	background-color: transparent;
	text-decoration: none;
	white-space: nowrap;
	user-select: none;
	text-align: center;
	transition: all .15s ease;
}

.btn:hover {
	background-color: #3bc4fb;
}

.btn:focus {
	outline: none;
}



@media screen and (max-width: 600px) {}

@media screen and (min-width: 1300px) {}